{% extends 'tasks/base.html' %}
{% block title %}
<title>Hello</title>
{% endblock %}
{% block body %}
<style>
    body{
        background: rgb(116,11,154);
        background: linear-gradient(155deg, rgba(116,11,154,1) 0%, rgba(101,22,179,1) 100%);
        height: 100vh;
        margin: 0;
    }
    .logo, .login, .signup {
        display: none;
    }
    .main {
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }
    .title {
        color: whitesmoke;
        font-size: 100px;
        margin: 0;
        margin-bottom: 15px;
    }
    a {
        color: whitesmoke;
    }
</style>

    <div class="main">
        <div class="header">
            <h1 class="title">Это ваш задачник</h1>
        </div>
        <form action="{% url 'tasks:list' %}">
            {% if is_authenticated %}
            <input type="submit" value="Начать" class="start">
            {% else %}
            <input type="submit" value="Начать" class="start" disabled>
            <p><a href="{% url 'tasks:login' %}">Войдите</a> или <a href="{% url 'tasks:signup' %}">зарегистрируйтесь</a></p>
            {% endif %}
        </form>
    </div>
{% endblock %}