{% extends 'tasks/base.html' %}
{% block title %}
<title>{{ kanban.title }}</title>
{% endblock %}
{% block body %}

    <h1>{{ kanban.title }}</h1>
    <ol>
        {% for task in kanban.tasks.all %}
        <li><a href="{% url 'tasks:task_detail' task.id %}">{{ task.title }}</a></li>
    {% endfor %}
    </ol>
    <ul>
        <li><a href="{% url 'tasks:task_add' kanban.pk %}">add task</a></li>
        <li><a href="{% url 'tasks:kanban_delete' kanban.pk %}">delete</a></li>
        <li><a href="{% url 'tasks:kanban_list' %}">return</a></li>
    </ul>


{% endblock %}