{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}{% endblock %}
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
    <link rel="icon" href="{% static 'tasks/img/favicon.ico' %}">
</head>
<body>
    <a href="{% url 'tasks:index' %}" class="logo"><img src="{% static 'tasks/img/qwe.png' %}" alt="logo" class="logo"></a>
    {% if user.is_authenticated %}
        {{ user }}
        <form action="{% url 'tasks:logout' %}" method="POST">
            <input type="submit" value="Выйти">
            {% csrf_token %} 
        </form>
    {% else %}
        <a href="{% url 'tasks:signup' %}" class="signup">Зарегистрироваться</a>
        <a href="{% url 'tasks:login' %}" class="login">Войти</a>
    {% endif %}
    {% block body %}{% endblock %}
</body>
</html>